<div class="panel panel-default">
  <div class="panel-body">
    <%= topic.name %>

    <div class="pull-right">
      <%= render 'application/movers', topic_movers_options(topic.sub_module, topic) %>
      <%= render 'application/menu', topic_menu_options(topic.sub_module, topic) %>
    </div>
  </div>
</div>  
