<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to topic.name, [topic.sub_module, topic] %>

    <div class="pull-right">
      <%= render 'application/menu', topic_menu_options(topic.sub_module, topic) %>
    </div>
  </div>
</div>  
