<h3 class="text-center">
  <div class="keeper-of-template-path" url="<%= asset_path 'template.docx' %>"></div>
  <div class="keeper-of-document-path" url="<%= document_data_path @document %>"></div>

  <%= t '.generating' %>
</h3>
