<%= form.input :name %>
<%= form.input :total_time, input_html: { min: 0 } %>

<div class="form-controls clearfix">
  <div class="pull-left">
    <%= form.button :submit %>
  </div>

  <div class="pull-left cancel-link">
    <%= link_to t('cancel'), [:edit, document], class: 'text-danger' %>
  </div>
</div>
