<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to main_module.name, [document, main_module] %>

    <div class="pull-right">
      <%= render 'application/menu', main_module_menu_options(document, main_module) %>
    </div>
  </div>
</div>
