<div class="panel panel-default">
  <div class="panel-body truncate-text-container">
    <div class="text clearfix">
      <%= link_to sub_module.name, sub_module %>
    </div>

    <div class="controls clearfix">
      <%= render 'application/movers', sub_module_movers_options(sub_module) %>
      <%= render 'application/menu', sub_module_menu_options(sub_module) %>
    </div>
  </div>
</div>
