<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to sub_module.name, [sub_module.main_module, sub_module] %>

    <div class="pull-right">
      <%= render 'application/menu', sub_module_menu_options(sub_module.main_module, sub_module) %>
    </div>
  </div>
</div>
