<div class="col-md-6 col-md-offset-3">
  <div class="page-header text-center">
    <h3><%= t '.title' %></h3>
  </div>

  <%= render 'form', main_module: @main_module, sub_module: @sub_module %>
</div>
