<div class="panel panel-default">
  <div class="panel-body">
    <%= scientist.position %> <%= scientist.name %>

    <div class="pull-right">
      <%= render 'application/menu', scientist_menu_options(document, scientist) %>
    </div>
  </div>
</div>
