<div class="panel panel-default">
  <div class="panel-body truncate-text-container">
    <div class="text clearfix">
      <%= scientist.position %> <%= scientist.name %>
      <%= scientist.scientists_positions %>
    </div>

    <div class="controls clearfix" style="width: 30px">
      <%= render 'application/menu', scientist_menu_options(document, scientist) %>
    </div>
  </div>
</div>
