<span class="glyphicon glyphicon-option-vertical"></span>

<div class="menu-wrapper">
  <div class="menu text-center">
    <a href="<%= update_link %>">
      <div class="update-link menu-item">
        <%= t 'update' %>
      </div>
    </a>

    <a href="<%= delete_link %>" data-method="delete">
      <div class="delete-link menu-item text-danger">
        <%= t 'delete' %>
      </div>
    </a>
  </div>
</div>
