<div class="pull-left up-down-buttons text-center">
  <a data-method="put"
     href="<%= move_higher_url %>"
     class="btn btn-default btn-xs">

    <%= t 'move-higher' %>
  </a>

  <a data-method="put"
     href="<%= move_lower_url %>"
     class="btn btn-default btn-xs">

    <%= t 'move-lower' %>
  </a>
</div>
